<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
       <select id="fruits" v-model="fruit">
    <option value="apple">apple</option>
    <option value="banana">banana</option>
    <option value="durian">durian</option>
    <option value="grape">grape</option>
</select>
    {{fruit}}
    <select id="fruits1" v-model="fruits" multiple>
        <option value="apple">apple</option>
        <option value="banana">banana</option>
        <option value="durian">durian</option>
        <option value="grape">grape</option>
    </select>
    {{fruits}}
</div>
<script src="../js/vue.js"></script>
<script>
    const app=new Vue({
        el:'#app',
        data:{
            message:'hello',
            fruit:'banana',
            fruits:'',
        }
    })
</script>

</body>
</html>