<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <h2 v-show="fruits.length>0">{{fruits}}</h2>

    <label v-for="item in originFruits" :for="item" >
        <input type="checkbox" :value="item"  :id="item" v-model="fruits" >{{item}}
    </label>
</div>
<script src="../js/vue.js"></script>
    <script>
    const app=new Vue({
         el:'#app',
          data:{
                message:'hello',
               originFruits:['apple','banana','durian','grape'],
               fruits:[],
          }
        })
    </script>
</body>
</html>